@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.625rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.928 0.006 264.531);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.4631 0.1267 47.7058);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.627 0.194 149.214);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.985 0.002 247.839);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.872 0.01 258.338);
  --input: oklch(0.279 0.077 45.635);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.924 0.12 95.746);
  --chart-2: oklch(0.828 0.189 84.429);
  --chart-3: oklch(0.666 0.179 58.318);
  --chart-4: oklch(0.555 0.163 48.998);
  --chart-5: oklch(0.414 0.112 45.904);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.06;
  --shadow-blur: 11px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 11px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 1px 11px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 1px 2px -1px hsl(0 0% 0% / 0.06);
  --shadow: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 1px 2px -1px hsl(0 0% 0% / 0.06);
  --shadow-md: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 2px 4px -1px hsl(0 0% 0% / 0.06);
  --shadow-lg: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 4px 6px -1px hsl(0 0% 0% / 0.06);
  --shadow-xl: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 8px 10px -1px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 0 1px 11px 0px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(1 0 0);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.4631 0.1267 47.7058);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.627 0.194 149.214);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.278 0.033 256.848);
  --input: oklch(0.414 0.112 45.904);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.924 0.12 95.746);
  --chart-2: oklch(0.828 0.189 84.429);
  --chart-3: oklch(0.666 0.179 58.318);
  --chart-4: oklch(0.555 0.163 48.998);
  --chart-5: oklch(0.414 0.112 45.904);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.625rem;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.06;
  --shadow-blur: 11px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 11px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 1px 11px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 1px 2px -1px hsl(0 0% 0% / 0.06);
  --shadow: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 1px 2px -1px hsl(0 0% 0% / 0.06);
  --shadow-md: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 2px 4px -1px hsl(0 0% 0% / 0.06);
  --shadow-lg: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 4px 6px -1px hsl(0 0% 0% / 0.06);
  --shadow-xl: 0 1px 11px 0px hsl(0 0% 0% / 0.06),
    0 8px 10px -1px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 0 1px 11px 0px hsl(0 0% 0% / 0.15);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    font-size: 108.5%;
  } /* 16px -> 18px (1rem = 18px) */
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    /* Use the Outfit variable provided by next/font (falls back to system sans) */
    font-family: var(--font-outfit), var(--font-sans);
  }
  .leaflet-container {
    @apply !bg-card !font-[inherit];
  }
  .leaflet-container a {
    @apply !text-inherit;
  }
  .leaflet-div-icon {
    @apply !bg-transparent !border-none;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-content, .leaflet-popup-content p {
    @apply ![all:unset];
  }
  .leaflet-popup {
    @apply !animate-none;
  }
  .leaflet-popup-close-button {
    @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
  }
  .leaflet-tooltip, .leaflet-draw-tooltip {
    @apply !bg-foreground !text-background !animate-none !rounded-md !border-none !p-0 !px-3 !py-1.5 !shadow-none;
  }
  .leaflet-draw-tooltip:before {
    @apply bg-foreground !top-1/2 !right-0.5 size-2.5 translate-x-1/2 -translate-y-1/2 rotate-45 rounded-[2px] !border-none;
  }
  .leaflet-error-draw-tooltip {
    @apply !bg-destructive !text-white;
  }
  .leaflet-error-draw-tooltip:before {
    @apply bg-destructive;
  }
  .leaflet-draw-tooltip-subtext {
    @apply !text-background;
  }
  .leaflet-popup-tip-container, .leaflet-tooltip-top:before, .leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
    @apply hidden;
  }
  .leaflet-control-attribution {
    @apply !bg-muted rounded-md !px-[4px] !py-[2px] text-[10px] !leading-none !text-inherit;
  }
  .leaflet-draw-guide-dash {
    @apply rounded-full;
  }
  .leaflet-edit-marker-selected {
    @apply !border-transparent !bg-transparent;
  }
  .marker-cluster div {
    @apply font-[inherit];
  }
}